*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  touch-action: none;
}

:root {
  --font-family: 'Inter', sans-serif;
}

#app {
  background: oklch(22% 0 0);
  font-family: var(--font-family);
}

#app-main {
  height: 100vh;
}

.players {
  --padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: var(--padding);
}