<style>
  :host {
    --padding-m: 20px;

    /* descriptive colors */
    --color-player-lightness: 69%;
    --color-player-chroma: 0.1142;
    --color-player-hue: 0;

    --color-player: oklch(var(--color-player-lightness) var(--color-player-chroma) var(--color-player-hue));
    --color-player-fade1: oklch(73% var(--color-player-chroma) var(--color-player-hue));
    --color-player-fade2: oklch(77% var(--color-player-chroma) var(--color-player-hue));
    --color-player-fade3: oklch(85% var(--color-player-chroma) var(--color-player-hue));
    --color-white: oklch(100% 0 0);
    --color-grey-90: oklch(90% 0 0);
    --color-grey-80: oklch(80% 0 0);
    --color-black: oklch(0% 0 0);

    /* semantic colors */
    --color-background-default: var(--color-player);
    --color-background-inverted: var(--color-white);
    --color-background-input: var(--color-player-fade1);
    --color-background-input-active: var(--color-player-fade2);
    --color-text-default: var(--color-white);
    --color-text-inverted: var(--color-black);
    --color-text-placeholder: var(--color-player-fade3);
    --color-outline: var(--color-player-fade3);
    --color-progressbar:var(--color-grey-90);
    --color-progress: var(--color-grey-80);

    /* outlines */
    --outline-default: solid 2px var(--color-outline);

    font-family: var(--font-family);
    position: relative;
    width: 100%;
    flex: 1 1 min-content;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    align-items: center;
    color: var(--color-text-default);
    border-radius: 20px;
    background: var(--color-player);
    box-shadow: 0 0 10px 0 colormix(in oklch, var(--color-player) 80%, black);
    padding: var(--padding-m);
    /* this has no effect for some reason, workaround by setting individual margins */
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }

    10% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes apply {
    0% {
      transform: scale(1) translateY(0);
      opacity: 1
    }

    100% {
      transform: scale(0.3) translateY(-200%);
      opacity: 0;
    }
  }

  .animate-pop {
    animation: pop 0.2s ease-out;
  }

  .animate-apply {
    animation: apply 0.4s ease-out forwards;
  }

  /* Hide default number input steppers */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  input,
  button {
    font: inherit;
    border: none;
    color: inherit;
    background: var(--color-background-input);
    text-align: center;
    transition: background 0.2s;
    -webkit-tap-highlight-color: transparent;

    &:active {
      background: var(--color-background-input-active);
    }
  }

  input {

    &:focus {
      background: var(--color-background-input-active);
      outline: var(--outline-default);
    }

    &::placeholder {
      color: var(--color-text-placeholder);
    }
  }

  .change-btn {
    --size: 80px;

    border-radius: 9999px;
    height: var(--size);
    width: var(--size);
    aspect-ratio: 1 / 1;
    cursor: pointer;
  }

  .name {
    border-radius: 9999px;
    min-width: 10ch;
    outline: none;
  }

  .cycle-color-btn {
    --size: 30px;
    --offset: 10px;

    position: absolute;
    display: block;
    top: var(--offset);
    right: var(--offset);
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    background: oklch(0 0 0 / 20%);
  }

  .score-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .score-history {
      display: flex;
      align-items: first baseline;
      gap: 1em;
      overflow: auto;
      scroll-snap-type: x mandatory;
      overscroll-behavior-x: contain;

      & .score {
        background: none;
        font-size: 2em;
        position: relative;
        scroll-snap-align: center;

        &.current {
          font-size: 3em;
        }

        & .delta {
          position: absolute;
          bottom: 0;
          left: -30px;
          font-size: 1.5rem;
        }
      }
    }

    & .steppers {
      display: flex;
      justify-content: center;
      gap: 1em;
    }

    & .click-counter {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50%;
      background: var(--color-background-inverted);
      color: var(--color-text-inverted);
      border-radius: 3px;
      overflow: hidden;
      width: 70px;

      & .timeout-progress {
        appearance: none;
        display: block;
        border: none;
        background: var(--color-progressbar);
        height: 4px;
        width: 100%;

        &::-webkit-progress-value {
          background: var(--color-progress);
        }

        &::-moz-progress-bar {
          background: var(--color-progress);
        }

        &::-ms-fill {
          background: var(--color-progress);
        }
      }
    }
  }
</style>

<input class="name" type="text" placeholder="Player A" />
<div class="score-wrapper">
  <div class="score-history">
    <div class="score current">0</div>
  </div>
  <div class="click-counter" hidden>
    <span class="click-count">0</span>
    <progress class="timeout-progress" value="0" max="100"></progress>
  </div>
  <div class="steppers">
    <button type="button" class="change-btn decrement">-</button>
    <button type="button" class="change-btn increment">+</button>
  </div>
</div>
<button type="button" class="cycle-color-btn"></button>