<style>
  :host {
    --padding: 20px;
    --color: oklch(1 0 0 / 20%);

    font-family: var(--font-family);
    position: relative;
    width: 100%;
    flex: 1 1 min-content;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    align-items: center;
    color: white;
    border-radius: 20px;
    background: var(--color);
    box-shadow: 0 0 10px 0 colormix(in oklch, var(--color) 80%, black);
    padding: 20px;
    /* this has no effect for some reason, workaround by setting individual margins */
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }

    10% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes apply {
    0% {
      transform: scale(1) translateY(0);
      opacity: 1
    }

    100% {
      transform: scale(0.3) translateY(-200%);
      opacity: 0;
    }
  }

  .animate-pop {
    animation: pop 0.2s ease-out;
  }

  .animate-apply {
    animation: apply 0.4s ease-out forwards;
  }

  /* Hide default number input steppers */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  input,
  button {
    font: inherit;
    border: none;
    color: inherit;
    background: oklch(1 0 0 / 10%);
    text-align: center;
    transition: background 0.2s;
    -webkit-tap-highlight-color: transparent;

    &:active {
      background: oklch(1 0 0 / 20%);
    }
  }

  .change-btn {
    --size: 80px;
    border-radius: 9999px;
    height: var(--size);
    width: var(--size);
    aspect-ratio: 1 / 1;
    cursor: pointer;
  }

  .name {
    margin-top: var(--padding);
    border-radius: 9999px;
    min-width: 10ch;
    outline: none;

    &::placeholder {
      color: oklch(100% 0 360 / 50%);
    }

    &:focus {
      background: oklch(1 0 0 / 23%);
      outline: solid 2px oklch(1 0 0 / 40%);
    }
  }

  .cycle-color-btn {
    --size: 30px;
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    background: oklch(0 0 0 / 20%);

    &:active {
      background: oklch(0 0 0 / 30%);
    }
  }

  .score-wrapper {
    margin-bottom: var(--padding);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    & .score-history {
      display: flex;
    }

    & .score {
      background: none;
      min-width: 2ch;
      font-size: 3em;
    }

    & .steppers {
      display: flex;
      justify-content: center;
      gap: 1em;
    }

    & .click-counter {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50%;
      background: oklch(1 0 0 / 100%);
      color: black;
      border-radius: 3px;
      overflow: hidden;
      width: 70px;

      & .timeout-progress {
        appearance: none;
        display: block;
        border: none;
        background: oklch(0.9 0 0);
        height: 4px;
        width: 100%;

        &::-webkit-progress-value {
          background: oklch(0.8 0 0);
        }

        &::-moz-progress-bar {
          background: oklch(0.8 0 0);
        }

        &::-ms-fill {
          background: oklch(0.8 0 0);
        }
      }
    }
  }
</style>

<input class="name" type="text" placeholder="Player A" />
<div class="score-wrapper">
  <div class="score-history">
    <input class="score" type="number" value="0" step="1" />
  </div>
  <div class="click-counter" hidden>
    <span class="click-count">0</span>
    <progress class="timeout-progress" value="0" max="100"></progress>
  </div>
  <div class="steppers">
    <button type="button" class="change-btn decrement">-</button>
    <button type="button" class="change-btn increment">+</button>
  </div>
</div>
<button type="button" class="cycle-color-btn"></button>